header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
    color:rgba(55, 56, 103, 0.4);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 3%;
}
header #menu img{
    height: 1.5em;
}
.header h2{
    font-size: 0.7em;
}
.header a{
    letter-spacing: 0.5em;
}
.header img{
    height: 1em;
}
@media only screen and (min-width: 601px){
    header{
        width: 95%;
        margin-left: 18px;
    }
}
@media only screen and (min-width: 1024px){
    header{
        width: 97%;
        margin-left: 3%;
        border-bottom: 5px rgb(170, 206, 155) solid;
    }
    .header h2{
        font-size: 1em;
    }
    header #menu img{
        display: none;
    }
}